*{
    margin: 0px;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
}
body {
    font-family: sans-serif;
    font-size: 20px;
}
.nav{
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
    background-color: cornsilk;
}
.link{
    font-size: 45px;
    background: cornsilk;
    color: black;
    text-decoration: none;
    margin-left: 330px;
    text-align: center;
}
.link:hover{
    color: grey;
}
.translate{
    font-size: 15px;
}
.title1{
    margin-top: 20px;
    text-align: center;
}
.title2{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.title3{
    margin-top: 20px;
    text-align: center;
}
.port{
    border-radius: 100px;
    font-size: 35px;
    text-decoration: none;
    margin-left: 850px;
    background-color: burlywood;
    color: black;
}
.port2{
    border-radius: 100px;
    font-size: 35px;
    text-decoration: none;
    margin-left: 850px;
    margin-top: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: burlywood;
    color: black;
}
button{
    margin-left: 300px;
    margin-top: 150px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    
}
.port:hover{
    cursor: pointer;
    color: white;
}
.port2:hover{
    cursor: pointer;
    color: white;
}
i{
    margin-left: 335px;
    margin-top: 100px;
}
i:hover{
    cursor: pointer;
}
.aboutTxt{
    padding-top: 20px;
    text-align: center;
}
.myPic{
    text-align: center;
    padding-top: 20px;
}
.odText{
    text-align: center;
    padding-top: 20px;
}
.odPics{
    text-align: center;
}